.navbar {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  min-height: 100vh;
  border-right: 1px solid #fff;
}

.navbar a {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 12px 8px;
  font-size: 18px;
  color: #fff;
  opacity: .7;
  transition: .3s opacity ease-in-out;
}

.navbar a:hover {
  opacity: 1;
}